* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
ul, li{
    list-style: none;
   
}

a {
    
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.container {
    margin: 0 auto;
    width: 1110px;
}

/* header  */
.header {
    background: #C8A35F;
    color: white;
    padding: 16px 0;
}

 .header .container {
    width: 1110px;
    margin: 0 auto;
  
    display: flex;
    justify-content: space-between;
} 

.header .container .lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.header .container .lang p{
    text-transform: uppercase;
    opacity: 50%;
}
.header .container .lang p.active{
    

    opacity: 1;
}


/* .home {
    background: darkslategray;
    padding: 16px 0;
    
    
}

.logo {
   
    margin: 0 0 0 99px;
   
}


.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
}
.location {
    color: white;
    padding: 20px;
    font-size: 20px;
    
  
}

.home .container .menu a {
    color: white;
   
    font-size: 20px;
    padding: 8px;  
} */

/* navbar */
.navbar {
    background: #2f343a;
    color: white;
    padding: 16px 0 16px 0;
    

    padding: 27 0;
}

.navbar .container {
    width: 1110px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
   
 
}
.navbar .container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .container .logo .border{
    border-right: 1px solid #fff;
    padding-right: 30px;
    margin-right: 30px;
}


.navbar .container .logo .location {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

}

.navbar .container .logo .location span{
    color: white;
    font-size: 14px;
    
}

.navbar .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.navbar .container .menu .link{
    font-size: 14px;
    text-transform: uppercase;
}

/* main */

.main {
    background-image: url(./images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 155px 0 220px 0;
}
.main .container .block{
 border: 1px solid gold;
 width: 920px;
 margin: 0 auto;
}

.main .container .block p{
    padding: 45px 0;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 28.48px;
    width: 777px;
    margin: 0 auto;
}

.main .container .block h1{
    text-align: center;
    font-size: 64px;
    color: white;
    font-family: 'Roboto' serif;
    font-weight: 700;
}


.main .mouse {
    text-align: center;
}


.services {
    background: rgba(57, 63, 71, 1);




    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 155px 0 220px 0;
}

